{{#block "pageheader"}} <h1>These are the photos from my Travel</h1> {{/block}}

{{#block "content"}}

<ul>
    <li style='list-style:none;'><img src='/images/image1.jpg' alt='A photo of a developer.' width='400px' height='400px' style='margin:50px;' /></li>
    <li style='list-style:none;'><img src='/images/image2.png' alt='A photo of another developer.' width='400px' height='400px' style='margin:50px;' /></li>
</ul>

{{/block}}

{{> layout.hbs}}
